# Ignore virtual environment directory
venv/

# Virtual environment
caption_env/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp

# Ignore system files
.DS_Store
Thumbs.db
